{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>PengalamanKu.</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<style>
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  
}

body {
  background: #343345;
  color: aliceblue;
}

/* #accordion { */
  /* width: 600px; */
  /* justify-content: center; */
/* } */
#accordion .arrow{
  float: right; 
  margin-left: 3px;
	margin-right: 3px;
}
.head {
  background-color: #dadde4;
}

.head :hover{
  width: 1.5em;
}

.ui-state-active {
	background-color: #f7aa29;
}

h2 , h4 {
  color: #dadde4;
}

@media only screen and (max-width: 768px){
  #accordion{
    /* width: auto; */
    font-size: auto;
  }
}
</style>
{% endblock meta %}

{% block content %}
<body style="background-color: #343345;">
  <div class="container align-items-center">
    <br>
    <br>
    <div class="text-center" id="judul">
      <h2>Halo !</h2><h4>Saya<span style="font-weight: 700; font-size: 2em; color: #f7aa29;">  Hilmy</span></h4>
  <p style="color: #dadde4;">Dibawah ini adalah tentang diri saya</p>
    </div>
    <br>
    <div  class="container align-items-center">
      <div id="accordion">
        <!-- KONTEN 1 -->
        <div class="head" id="head1"><span>Aktivitas Saat Ini</span>
        <span class="ml-auto">
          <img class="arrow arrowUp" src="{% static 'img/up1.svg' %}" alt="">
          <img class="arrow arrowDown" src="{% static 'img/down1.svg'%}" alt="" >
        </span></div>
      <div class="isi" id="isi1">
        <p>Menjadi Staff Kreatif PMB Fasilkom 2020</p>
        <p>Menjadi <span style="font-style: italic;">Vice Person in Charge </span> Divisi Dokumentasi Wisuda Ganjil 2021</p>
      </div>
  
      <!-- KONTEN 2 -->
      <div class="head" id="head2"><span>Pengalaman Organisasi dan Kepanitiaan</span>
        <span class="ml-auto">
          <img class="arrow arrowUp" src="{% static 'img/up1.svg' %}" alt="" >
          <img class="arrow arrowDown" src="{% static 'img/down1.svg' %}" alt="">
        </span>
      </div>
      <div class="isi" id="isi2">
        <div>
          <p>OSIS SMAN 47 Jakarta Koor Sekbid Sosial dan Teknologi</p>
          <p>PEMIRA Fasilkom 2019 Divisi Verifikasi dan Pengawasan</p>
          <p>Sekolah BEM Fasilkom Media</p>
          <p>Wisuda Ganjil Fasilkom 2020 Divisi Kreatif</p>
          <p>Pesta Rakyat Komputer Fasilkom 2020 Divisi Bazaar dan Konsumsi</p>
          <p>COMPFEST divisi <span style="font-style: italic;">Digital Marketing</span></p>
          <p>Workshop BNPT (Badan Nasional Penanggulangan Terorisme) tentang Filmmaking</p>
        </div>
      </div>
  
      <!-- KONTEN 3 -->
    <div class="head" id="head3"><span>Skills</span>
      <span class="ml-auto">
        <img class="arrow arrowUp" src="{% static 'img/up1.svg' %}" alt="" >
        <img class="arrow arrowDown" src="{% static 'img/down1.svg' %}" alt="" >
      </span>
    </div>
    <div class="isi" id="isi3">
      <div>
        <p style="font-weight: 600;">Desain Grafis</p>
        <ul>
          <li>Adobe Illustrator</li>
          <li>Adobe Photoshop</li>
        </ul>
        <p style="font-weight: 600;">Fotografi</p>
        <p style="font-weight: 600;">Videografi dan Sinematografi</p>
        <ul>
          <li>Adobe After Effect</li>
          <li>Adobe Premiere Pro</li>
          <li>Vegas Pro</li>
        </ul>
        <p style="font-weight: 600;">UI/UX</p>
      </div>
    </div>
  
    <!-- KONTEN 4 -->
    <div class="head" id="head4"><span>Prestasi</span>
      <span class="ml-auto">
        <img class="arrow arrowUp" src="{% static 'img/up1.svg' %}" alt="" >
        <img class="arrow arrowDown" src="{% static 'img/down1.svg' %}" alt="">
      </span>
    </div>
    <div class="isi" id="isi4">
      <div>
        <p>Juara 1 Tilawatil Quran</p>
        <p>Juara 1 <span style="font-style: italic;">Short Movie</span> M.H.Thamrin sebagai <span style="font-style: italic;">Cameraman</span></p>
        </div>
    </div>
  
    </div>
    </div>
    <div class="container align-items-center text-center mt-4">
      <p style="color: #dadde4; font-style: italic; font-size: 0.8em;">Jika ingin memindahkan posisi bar, cukup klik panah atas jika ingin memindahkan keatas dan panah bawah jika ingin memindahkan kebawah</p>
    </div>
    <br>
    <br>
    
  </div>
  

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'story7.js' %}"></script>
</body>

{% endblock content %}